body {
    background-color: rgb(100, 0, 200);
    background-blend-mode: darken;
    background-image: url("/assets/galaxy\ forrest.jpg");
    background-size: cover;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-content {
    margin-left: 5vmin;
    margin-top: 4vmin;
    display: flex;
    align-items: flex-end;
}

#header-logo {
    width: 10vmin;
}

#header-title {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1vmin;
    padding-left: 2vmin;
    border-radius: 3vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    font-size: 5.5vmin;
}

#body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-container {
    padding: 5%;
}

.movie {
    width: 80vmin;
    max-height: 70vmin;
    border: solid 2px white;
}

.movie-title {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 1vmin;
    padding-left: 2vmin;
    border-radius: 3vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    font-size: 4vmin;
}